.mainRanking {
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* overflow-y: scroll; */
}

body {
  max-height: 100vh;
}

.rankingDiv {
  color: aliceblue;
  font-family: Roboto , sans-serif;
  font-size: 30px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
}

li {
  align-items: center;
  border: 1px solid rgb(1, 229, 155);
  border-radius: 10px;
  display: flex;
  height: 90px;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
  width: 650px;
}

li:nth-child( 1 ) {
  background-color: rgba(236, 182, 58, 0.7);
}

li:nth-child( 2 ) {
  background-color: rgba(192, 192, 192, 0.7);
}

li:nth-child( 3 ) {
  background-color: rgba(221, 107, 26, 0.7);
}

.nameRanking {
  color: aliceblue;
  font-family: Roboto , sans-serif;
  font-size: 25px;
}

.scoreRanking {
  color: aliceblue;
  font-family: Roboto , sans-serif;
  font-size: 25px;
}

.homeButton {
  align-items: center;
  background: transparent;
  border: 2px solid rgb(1, 229, 155);
  border-radius: 8px;
  color: rgb(1, 229, 155);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  outline: none;
  overflow: visible;
  padding: 10px 22px;
  text-decoration: none;
  width: 20%;
}

.homeButton:hover {
  background-color: rgb(1, 229, 155);
  color: black;
}
